/* Balance.css */

/* Container styles */
.balance-container {
  text-align: center;
  width: 100%; /* equivalent to w-full */
  border-radius: 0.5rem; /* equivalent to rounded-lg */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* equivalent to shadow-md */
  padding: 0.5rem 1rem;
  min-width: 200px;
}

/* Balance text styles */
.balance-value {
  font-size: 1.5rem; /* equivalent to text-4xl */
  font-weight: bold; /* equivalent to font-bold */
  width: 100%; /* equivalent to w-full */
}

/* Button styles */
.refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none; /* equivalent to focus:outline-none */
}

.refresh-icon:hover {
  color: black;
}

.refresh-icon {
  vertical-align: middle;
  color: #fff;
}

/* Dropdown styles */
.currency-dropdown {
  margin-top: 0.25rem; /* equivalent to mt-4 */
  padding: 1px;
  color: #fff; /* equivalent to text-blue-500 */
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none; /* equivalent to focus:outline-none */
  width: 60px; /* equivalent to w-full */
  text-align: center; /* center text */
  background: transparent;
}
